<div id="applicant-detail">
  <div class="table-responsive">
  <table class="table-striped tablee" cellpadding="3" style="width: 600px;color: #333333;margin: 0 auto 0 auto;">
    <tr>
      <th>ID</th>
      <th>Status</th>
      <th>Applicant Name</th>
      <th>Actions</th>
    </tr>
    <% @applicants.each do |applicant| %>
        <% personal_detail = applicant.personal_detail %>
        <% if personal_detail.present? %>
            <tr>
              <td><%= applicant.try(:id) %></td>
              <td><%= OnlineApplicationForm.get_status(applicant.status).capitalize %></td>
              <td><%= "#{personal_detail.first_name} #{personal_detail.middle_name} #{personal_detail.last_name}" %></td>
              <td><%= link_to('View', online_application_form_path(applicant.id), :class => 'btn btn-info no-print') %></td>
            </tr>
        <% end %>
    <% end %>
  </table>
    </div>
</div>