<div class="alert alert-info row-fluid" style="width: auto;">
  <div>
  <div class="span3">
    <b>Total Applications: <%= @applicants.count %>
      <a href="/excel/export" class="btn btn-warning" style="margin: -5px 10px 0px 0px;float:right;">Export Tool</a>
      <a href="#" class="btn btn-warning" id="open_add_dialog" style="margin: -5px 10px 0px 0px;float:right;">Add Student Tool</a></b>
  </div>

  <div class="span2">

  </div>
    <div class="span2">

    </div>
  </div>
</div>