<div class="alert alert-info row-fluid" style="width: auto;">
  <div>
  <div class="span3">
    <b>Total Applications</b>
  </div>

  <div class="span1">
    <b><%= @applicants.count %></b>
  </div>

  <div class="span2">
    <a href="/excel/export" class="btn btn-warning" style="float:right;">Export Tool</a>
  </div>
</div>
</div>