<%= javascript_include_tag 'table2CSV' %>


<script>
    window.onload = function () {
        $('#leftcolumn').hide();
        $('#result-table').each(function () {
            var $table = $(this);

            var $button = $("<a download=\"download.csv\" class='btn btn-primary' style='float:right;'>");
            $button.text("Download Excel");
            $button.insertAfter($('#button-marker'));

            $button.click(function (e) {
                var csv = $table.table2CSV({
                    delivery: 'value'
                });

                var downloadLink = document.createElement("a");
                downloadLink.href = 'data:text/csv;charset=UTF-8,'
                        + encodeURIComponent(csv);
                downloadLink.download2 = "registry.csv";

                document.body.appendChild(downloadLink);
                downloadLink.click();
                document.body.removeChild(downloadLink);
            });
        });
    }
</script>

<link rel="stylesheet" type="text/css" href="/assets/jquery.dataTables.css">
<link rel="stylesheet" type="text/css" href="/assets/dataTables.fixedColumns.css">
<link rel="stylesheet" type="text/css" href="/assets/shCore.css">
<link rel="stylesheet" type="text/css" href="/assets/demo1.css">

<script type="text/javascript" language="javascript" src="/assets/jquery.dataTables.js"></script>
<script type="text/javascript" language="javascript" src="/assets/dataTables.fixedColumns.js"></script>
<script type="text/javascript" language="javascript" src="/assets/shCore.js"></script>
<script type="text/javascript" language="javascript" src="/assets/demo.js"></script>
<script type="text/javascript" language="javascript" class="init">


    $(document).ready(function() {
        // Setup - add a text input to each footer cell
        $('#result-table tfoot th').each( function () {
            var title = $('#result-table thead th').eq( $(this).index() ).text();
            $(this).html( '<input type="hidden" placeholder="Search '+title+'" />' );
        } );

        // DataTable
        var table = $('#result-table').DataTable( {
            scrollY:        "300px",
            scrollX:        true,
            scrollCollapse: true,
            paging:         false
        } );

        // Apply the filter
        table.columns().indexes().each( function (idx) {
            $( 'input', table.column( idx ).footer() ).on( 'keyup change', function () {
                table
                        .column( idx )
                        .search( this.value )
                        .draw();
            } );
        } );

        new $.fn.dataTable.FixedColumns( table );
    } );
</script>
<!--script ni patrick ends-->

<script>

    function loading(){
        $('#leftcolumn').hide();
        $('#top').style.marginLeft = "-50px"
    };
    window.onload=loading();

</script>

<div class="alert alert-info row-fluid" style="width: auto;background-color: white;border-bottom: 1px solid #ffffff;">
  <!--<div class="span8">-->
    <!--<p style="position: relative; top: 5px;">Deleted Applications Are Not Included</p>-->
  <!--</div>-->
  <div class="span4" style="width: 100%">
    <span id="button-marker"/>
    <a href="/dashboard" class="btn btn-primary"> Return to dashboard</a>
  </div>

</div>
<div style="overflow-y: auto; overflow-x: auto;width: 890px;height: auto; margin-left: 45px;" >
  <table id="result-table" class="stripe row-border order-column" >
    <thead>
        <tr style="background-color: rgb(13, 143, 219);color:white;">
            <th>Name</th>
            <th>Date Updated</th>
          <th>More info</th>
        </tr>
    </thead>

    <tfoot>
    <tr>
      <th>Name</th>
      <th>Date Updated</th>
      <th>More info</th>
    </tr>
    </tfoot>

   <tbody>
  <% @online_applications.each do |online_application| %>
  <% if (online_application.personal_detail.present? && online_application.employment_detail.present? && online_application.education_detail.present?) %>
  <% $first = online_application.personal_detail.first_name %>
  <% $middle = online_application.personal_detail.middle_name %>
  <% $last = online_application.personal_detail.last_name %>
  <tr>
     <td><%=  link_to $last.to_s + ', ' + $first.to_s + ' ' + $middle.to_s, online_application_form_path(online_application.personal_detail.id) %></td>
     <td><%= online_application.updated_at.strftime('%m/%d/%Y %H:%M') %></td>
    <td><a href="mailto:<%= online_application.personal_detail.email %>?Subject=Welcome%20to%20CSO" target="_top">
      <img src="/assets/mail_icon_small.jpg" > </a></td>
  </tr>
      <% end %>
  <% end %>
   </tbody>
</table>
</div>