<script>
    $(document).ready(function(){
        $('.dropdown-value').each(function(e){
            $(this).val($(this).data('chosen-value'));
        });
    })
</script>

<p style="margin-top: 20px;">
  <br/>
  If you are registering as part of a group, it is essential that you provide the following information below in order to provide you with
  <br/>group-applicable rates.
</p>
<form accept-charset="UTF-8" action="/supplement/<%= @supplemental_detail.id %>" class="edit_supplemental_detail form-horizontal" id="edit_supplemental_detail_1" method="post">
  <fieldset>
<hr/>
    <!-- Multiple Radios -->
    <div class="control-group">
      <label class="control-label" for="supplemental_detail[group]">Are you part of a group?</label>
      <div class="controls">
        <label class="radio" for="supplemental_detail[group]-0">
          <input type="radio" name="supplemental_detail[group]" id="supplemental_detail[group]-0" value="Yes" checked="checked">
          Yes
        </label>
        <label class="radio" for="supplemental_detail[group]-1">
          <input type="radio" name="supplemental_detail[group]" id="supplemental_detail[group]-1" value="No">
          No
        </label>
      </div>
    </div>

    <!-- Text input-->
    <div class="control-group">
      <label class="control-label" for="supplemental_detail[group_name]">Group Reference</label>
      <div class="controls">
        <input id="supplemental_detail[group_name]" name="supplemental_detail[group_name]" type="text" placeholder="Please enter the group name or other reference" class="input-xlarge">
        <p class="help-block">Provide any reference name for your group</p>
      </div>
    </div>

    <!-- Text input-->
    <div class="control-group">
      <label class="control-label" for="supplemental_detail[organization_name]">Name of Organization</label>
      <div class="controls">
        <input id="supplemental_detail[organization_name]" name="supplemental_detail[organization_name]" type="text" placeholder="Please enter the organization name" class="input-xlarge">
        <p class="help-block">Provide any reference name for your organization</p>
      </div>
    </div>

    <!-- Button -->
    <div class="control-group">
      <label class="control-label" for="submit"></label>
      <div class="controls">
        <button id="submit" name="submit" class="btn btn-primary">Complete Group Registration</button>
      </div>
    </div>

  </fieldset>
</form>
