<script type="text/javascript">
    $(document).ready(function () {
        $('#page-title').text("Thank You");
    })
</script>

<div style="width: 770px; height: 300px; background: #4b97ab; border-radius: 5px; padding: 10px; color: white; margin: 10px;">
  <h1>Thank You</h1>

  <div style="position: relative; bottom: -150px; right: 10px; text-align: right;">
    <p>
      Thank you for registering for the ASEAN Business Conference. You shall receive a separate e-mail confirming your
      registration
      and an invoice for the applicable registration fees.

      If you are registering as a group, kindly indicate your membership in the group by answering the appropriate
      questions below.
    </p>
  </div>
</div>

<% if @supplemental_detail.group.blank? %>
    <%= render :partial => 'new_form' %>
<% end %>