<div id="online-admissions-login" style="margin-left: 80px; margin-top: 10px;">
  <table style="margin-left: 10px;">
    <form class="form-horizontal" action="/admissions" method="post">
      <fieldset>
        <tr>
          <td>
            <input id="email" name="email" type="text" placeholder="AIM Email" style="height:30px;font-family:calibri;">
          </td>
        </tr>

        <tr>
          <td>
            <input id="password" name="password" type="password" placeholder="Password" style="height:30px;font-family:calibri;">
          </td>
        </tr>

        <tr>
          <td>
            <button id="begin-app-submit" name="submit" class="btn" style="margin-left: 55px; width: 130px; margin-top: 0px; border-radius: 6px;">Login</button>
          </td>
        </tr>
        <!--<div class="control-group">-->
          <!--<label class="control-label" for="show-instructions"></label>-->

          <!--<div id="online-application-instructions-toggle" class="controls">-->
            <!--<a id="show-instructions" data-toggle="modal" href="#application-instructions" class="btn btn-warning">-->
              <!--Online Application Instructions-->
            <!--</a>-->
          <!--</div>-->
        <!--</div>-->
      </fieldset>
    </form>
  </table>
</div>