<div id="online-admissions-login" style="margin-left: 80px;margin-top:10px;position: absolute">
  <table style="margin-left: 10px;">
    <form class="form-horizontal" action="/admissions" method="post">
      <fieldset>
        <div class="form-group">
          <div class="input-group">
            <div class="input-group-addon">@</div>
            <input style="width: 250px;" class="form-control" type="email" name="email"  placeholder="AIM Email">
          </div>
        </div>
        <div class="form-group">
          <label class="sr-only" for="exampleInputPassword2">Password</label>
          <input type="password" class="form-control" name="password" id="exampleInputPassword2" placeholder="Password">
        </div>
        <tr>
          <td>
            <button id="begin-app-submit" name="submit" class="btn btn-primary" style="margin-left: 65px; width: 130px; margin-top: 0px; border-radius: 6px;">Login</button>
          </td>
        </tr>
        <!--<div class="control-group">-->
          <!--<label class="control-label" for="show-instructions"></label>-->

          <!--<div id="online-application-instructions-toggle" class="controls">-->
            <!--<a id="show-instructions" data-toggle="modal" href="#application-instructions" class="btn btn-warning">-->
              <!--Online Application Instructions-->
            <!--</a>-->
          <!--</div>-->
        <!--</div>-->
      </fieldset>
    </form>
  </table>
</div>