<div class="modal fade" id="application-instructions" style="z-index: -1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Registration Rates</h4>
        <p>Registration made    online must be accompanied by online payment either through MasterCard or    VISA Credit Card. To register and pay offline,    please download the registration form <a href="#">here.</a></p></td>
      </div>
      <div class="modal-body">
        <table border="1" cellspacing="0" cellpadding="0" width="715">
          <tr>
            <td width="715" colspan="3">
          </tr>
          <tr>
            <td width="315"><p><strong>Type</strong></p></td>
            <td width="208"><p align="center"><strong></strong> Bird Registration<br /><br/>
              (For payment received on or  before 30 April 2014)</strong> </p></td>
            <td width="192"><p align="center"><strong> Registration<br /><br/>
              (For payment received from 01 to 31 May  2014)</strong></p></td>
          </tr>
          <tr>
            <td width="315"><p><strong>Delegate</strong></p></td>
            <td width="208"><p align="center"> USD 215<br />
              PHP 8,500</p></td>
            <td width="192"><p align="center">   USD 250<br />
              PHP 10,000</p></td>
          </tr>
          <tr>
            <td width="315"><p><strong>AIM Alumni</strong></p></td>
            <td width="208"><p>&nbsp;</p></td>
            <td width="192"><p align="center">   USD 215<br />
              PHP 8,500</p></td>
          </tr>
          <tr>
            <td width="315"><p><strong>Student</strong></p></td>
            <td width="208"><p align="center">   USD 215<br />
              PHP 8,500</p></td>
            <td width="192"><p align="center">   USD 215<br />
              PHP 8,500</p></td>
          </tr>
          <tr>
            <td width="315"><p><strong>Group    Registration</strong> <br>(4 or    more representatives from the same organization) </p></td>
            <td width="208"><p>&nbsp;</p></td>
            <td width="192"><p align="center">   USD 215<br />
              PHP 8,500</p></td>
          </tr>
        </table>
      </div>
      <div class="modal-footer">
        <a HREF="http://abcregistration.aim.edu/downloads/2ndABCRegForm_pdf.pdf" target="_blank" class="btn btn-info">
       Download Registration Form (PDF)</a>
        <a HREF="http://abcregistration.aim.edu/downloads/2ndABCRegForm_doc.docx" class="btn btn-info">
          Download Registration Form (DOC)</a>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

