<%= javascript_include_tag :home %>
<img src="/assets/banner.jpg" style="width: 1000px;height: 449px;"/>
<div style="margin-top: -495px;margin-left: 85px;">
  <p style="font-weight:bold;font-size:39px;color: rgb(60, 68, 135);margin-top: 80px;">Start Your <br> <br/>Professional
    <br/><br>Story <span style="color:orange;">Here</span>.</p>

  <p style="color: rgb(60, 68, 135);margin-top: 32px;">We're working on bringing you a website for<br/> career
    management. For the meantime, <br/>please update your profile and upload your<br/> resume.</p>

  <div class="intro-online-admissions">

  </div>
</div>
<%= render :partial => 'form' %>


