<%= javascript_include_tag :home %>

<div class="intro-online-admissions">
  <p id="intro-online-admissions-text">
    In order to register for the ABC Conference, kindly enter your e-mail address and date of birth below:
</div>

<%= render :partial => 'form' %>
<%= render :partial => 'guide' %>