<%= javascript_include_tag :home %>

<div class="intro-online-admissions">
  <p id="intro-online-admissions-text">
    <!--The 2nd Asian Business Conference is still open for registration. Registration is extended until June 12, 2014<br><br>-->
    <!--In order to register for the ABC Conference, kindly enter your e-mail address and date of birth below:-->
  The 2nd Asian Business Conference is close for registration.
</div>

<%= render :partial => 'form' %>
