<%= javascript_include_tag :home %>

<div class="intro-online-admissions">
  <p id="intro-online-admissions-text">
    The 2nd Asian Business Conference is now open for registration. Register now to avail of the early bird discount!<br><br>
    In order to register for the ABC Conference, kindly enter your e-mail address and date of birth below:
</div>

<%= render :partial => 'form' %>
<%= render :partial => 'guide' %>