<%= javascript_include_tag :home %>
<h2>Asian Institute of Management</h2>
<h3>MBA Online Admissions</h3>

<div class="intro-online-admissions">
  <p id="intro-online-admissions-text">
    Take the first step in getting your MBA at AIM today. Please enter your personal information in order to
    begin or return to an ongoing MBA online application.
</div>

<%= render :partial => 'form' %>
<%= render :partial => 'guide' %>