/* Patricks Stylesheet*/

* {
  font-family: Helvetica, Arial, 'lucida grande',tahoma,verdana,arial,sans-serif;
}

html {
  background-color: rgb(13, 17, 46);
}

.main {
  margin:0 auto 0 auto;
  width: 1000px;
  height:980px;
  background-color:white;
  margin-top: -1px;
  background-color: #f9f9f9;
  color: #7d7d7d;
}

.footer {
  display:block;
  width:710px;
  height:30px;
  margin:0 auto 0 auto;
  background-color:transparent;
  font-size:12px;
}

.footer ul {
  list-style-type:none;
}

.footer ul li{
  display:inline-block;
  float:left;
  height:30px;
}

.footer a {
  display:block;
  width:80px;
  color: #5379a7;
  letter-spacing: 0.5px;
  text-decoration:none;
  font-weight: bold;
  font-size:10px;
}

.footer a:hover {
  color: #608dc3;
  text-shadow: none;
}

.footer a:hover{
  text-decoration:underline;
}

.header img {
  margin-left:175px;
}

.leftcolumn {
  position: absolute;
  height:917px;
  width: 250px;
  margin-top: -35px;
  border-right: 1px solid black;
}

.leftcolumn ul {
  list-style-type:none;
  margin-left: 0px;
}

.leftcolumn a {
  font-size:15px;
  display:block;
  width:180px;
  color:black;
  text-decoration:none;
}

.leftcolumn a:hover {

}

.content {
  margin-left: 265px;
  overflow-y: auto;
  height:910px;
  width: auto;
}

.leftcolumn ul li a {
  color:rgb(13,17,46);
}

/************************************************** */

.nav1 li a {
  text-decoration:none;
  color:black;
  padding:21px;
}

.nav1 li a:hover {
  background-color: none;
}

.nav1 li {
  display:inline;
}

.nav1 ul {
  list-style-type: none;
}

.nav1 ul li {
  position: relative;
  border-right: #a5a5a5 thin solid;
  float: left;
  height: 25px;
  margin-top: -14px;
}

.nav1 ul li a {
  text-align: center;
  display: block;
  text-decoration: none;
  margin-top: -17px;
}

.nav1 ul li:hover{
  background: #078965;
}

.nav1 ul li a:hover{
  color: #d39937;
}

.nav1 ul li ul {
  display: none
}

.nav1 ul li:hover ul {
  display: block;
  position: absolute;
}

.nav1 ul li:hover ul li a {
  display:block;
  background:url(aim_rightCol_form_bg_002.png)top left ;
  color:#ffffff;
  width: 100px;
  text-align: center;
  border: 1px solid #000000;
}
.nav1 ul li:hover ul li a:hover {
  text-decoration: underline;
  color: #ffffff;
  background-color: darkcyan;
}

/* *******************************************  */
.nav1 ul li:hover ul li ul{
  display: none
}

.nav1 ul li:hover ul li:hover ul{
  display: none
}

.nav1 ul li:hover ul li:hover ul{
  display:block;
  top:5px;
  left:101px;
  color:#ffffff;
  width: 100px;
  text-align: center;
}

.nav1ul li:hover ul li a:hover {
  text-decoration: underline;
  color: #ffffff;
  background-color: darkcyan;
}
/* *******************************************  */

.nav1 {
  position: relative;
  background: #00805a;
  width: 1000px;
  height: 25px;
  margin: 0 auto 0 auto;
  border: 1px solid black;
  font-size: 14px;
  font-weight: bold;
  border-bottom: #a5a5a5 thin solid;
  margin-left: -1px;
}

//.btn {
//  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#3d94f6', endColorstr='#1e62d0');
//  background-color:#1e62d0;
//  -webkit-border-top-left-radius:0px;
//  -moz-border-radius-topleft:0px;
//  border-top-left-radius:0px;
//  -webkit-border-top-right-radius:0px;
//  -moz-border-radius-topright:0px;
//  border-top-right-radius:0px;
//  -webkit-border-bottom-right-radius:0px;
//  -moz-border-radius-bottomright:0px;
//  border-bottom-right-radius:0px;
//  -webkit-border-bottom-left-radius:0px;
//  -moz-border-radius-bottomleft:0px;
//  border-bottom-left-radius:0px;
//  text-indent:0;
//  border:1px solid #337fed;
//  display:inline-block;
//  color:#ffffff;
//  font-family:Arial;
//  font-size:15px;
//  font-weight:bold;
//  font-style:normal;
//  height:40px;
//  line-height:40px;
//  width:100px;
//  text-decoration:none;
//  text-align:center;
//  text-shadow:1px 1px 0px #1570cd;
//  border-radius:3px;
//}

//.btn:hover {
//  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#1e62d0', endColorstr='#3d94f6');
//  cursor: pointer;
//  background-color:#3d94f6;
//}

.btn:active {
  position:relative;
  top:1px;
}

input[type="text"],select,input[type="date"],input[type="password"] {
  width:258px;
  background-color: #F7F7F7;
  border: 1px solid #ccc;
  border-radius: 3px;
  -o-border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  padding: 4px 5px 4px 5px;
  font-family: Arial, Helvetica, sans-serif;
  color: #4D4D4D;
  text-shadow: 0px 1px 0px #FBFBFB;
}

.leftcolumn ul li {
  padding: 8px 25px;
  border-bottom: rgb(13,17,46) thin solid;
  font-weight: bold;
  letter-spacing: 0.1px;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  /* transition: all 0.2s ease-out; */
}

.leftcolumn ul li:hover {
  background-color:#146D55;;
}

.leftcolumn ul li a{
  font-size:13px;
  width: auto;
  padding: auto;
}

.leftcolumn ul {
}

*::-webkit-input-placeholder {
  font-size:16px;
  padding-left:15px;
}
*:-moz-placeholder {
  font-size:16px;
  padding-left:15px;
}
*:-ms-input-placeholder { /* IE10+ */
  font-size:16px;
  padding-left:15px;
}

.test:hover {
  opacity: 1;
}

.changeColor {
  background-color:#146D55;
  color: #d39937;
}

.student_table {
  color: black;
  width: 420px;
  font-size: 13px;
  margin: 0 auto 0 auto;
  padding: 20px 20px;
  margin-top: 25px;
}

.student_table td {
  border-bottom: 1px solid #7d7d7d;
}

.student_table td:first-child{
  font-weight: bold;
  color: black !important;
  width: auto;
}

.student_table tr:last-child{
  border-bottom: 2px solid black;
}
.student_table tr:first-child{
  border-top: 2px solid black;
}

.student_table tr:hover {
  background-color: #AFBDBA;
  width: 100%;
}
