<head>
  <style>
      * {
          font-family:Helvetica;
          font-size:13px;
          padding:5px 10px;
      }

      table td{
          padding:0px 10px;
      }

      table td:first-child{
          padding:5px 10px;
      }

      html {
          background-color:rgb(60, 60, 60);
      }
  </style>
</head>

<div style="height:100%;width:100%;">
  <div style="background-color:white;border:1px solid black;height:1000px;width:800px;box-shadow:0 0 70px black;margin:0 auto 0 auto;">
    <div style="height:940px;overflow-y:auto;padding: 30px 30px;">
      <p style="border-bottom:2px solid black;padding-bottom:10px;width:650;margin:0 auto;">
        <span style="font-weight:bold;font-size:24px;padding:0px;margin:0px;">Patrick Louis D. Garcia</span><br/>
        #4 Galvez st. Philam Life Village, Las Pinas City<br/>
        1730 <br/>
        871-24-16 <br/>
        pgarcia041993@gmail.com
      </p>

      <br/>

      <table width="670" cellpadding="0" cellspacing="0" style="font-family: arial,sans-serif;margin:0 auto;
              font-size:13px;
              border-width: 1px;
              border-color: #000;
              border-collapse: collapse;">
        <tr>
          <td style="width:400px; font-size:15px;font-weight:bold;background-color:gray;" colspan="6">PERSONAL INFORMATION</td>
        </tr>
        <tr>
          <td colspan="6">&nbsp;</td>
        </tr>
        <tr>
          <td valign="top" colspan="2" style="font-weight:bold;">
            Name:
          </td>
        </tr>
        <tr>
          <td width="127" valign="top" style="font-weight:bold;">Birthdate:
          </td>
        </tr>
        <tr>
          <td style="font-weight:bold;">Age:</td>
        </tr>
        <tr>
          <td width="153" valign="top" style="font-weight:bold;">Citizenship:
          </td>
        </tr>
        <tr>
          <td width="102" valign="top" style="font-weight:bold;">Gender:
          </td>
        </tr>
        <tr>
          <td width="198" valign="top" style="font-weight:bold;">Civil Status:
          </td>
        </tr>
        <tr>

        </tr>
        <tr>
          <td height="31" valign="top" style="font-weight:bold;">Current Telephone #:
          </td>
        </tr>
        <tr>
          <td colspan="2" valign="top" style="font-weight:bold;">Current Mobile:
          </td>
        </tr>
        <tr>
          <td colspan="3" valign="top" style="font-weight:bold;">Email:
          </td>
        </tr>
        <tr>
          <td valign="top" colspan="6" style="font-weight:bold;">
            Address:
          </td>
        </tr>
        <tr>
          <td width="127" colspan="2" valign="top" style="font-weight:bold;">City:
          </td>
        </tr>
        <tr>
          <td width="127" valign="top" style="font-weight:bold;">Postal Code:
          </td>
        </tr>
        <tr>
          <td width="127" colspan="2" valign="top" style="font-weight:bold;">Country:</td>
        </tr>
        <tr>
          <td valign="top" colspan="6" style="font-weight:bold;">
            Home Address:
          </td>
        </tr>
        <tr>
          <td valign="top" colspan="2" style="font-weight:bold;">
            Home City:
          </td>
        </tr>
        <tr>
          <td valign="top" colspan="2" style="font-weight:bold;">
            Home Country:
          </td>
        </tr>
        <tr>
          <td valign="top" colspan="2" style="font-weight:bold;">
            Home Postal:
          </td>
        </tr>
        <tr>
          <td valign="top" colspan="3" style="font-weight:bold;">
            Home Telephone:
          </td>
        </tr>
        <tr>
          <td valign="top" colspan="3" style="font-weight:bold;">
            Home Telephone:
          </td>
        </tr>
      </table>

      <br/>

      <table width="670" cellpadding="0" cellspacing="0" style="font-family: arial,sans-serif;margin:0 auto;
              font-size:13px;
              border-width: 1px;
              border-color: #000;
              border-collapse: collapse;">
        <tr>
          <td style="width:400px; font-weight:bold;background-color:gray;" colspan="6">ACADEMIC INFORMATION</td>
        </tr>
        <tr>
          <td colspan="6">&nbsp;</td>
        </tr>
        <tr>
          <td height="25" colspan="4" style="font-weight:bold;">Bachelor Degree</td>
        </tr>
        <tr>
          <td width="201" colspan="2" valign="top" style="font-weight:bold;">Course:</td>
        </tr>
        <tr>
          <td width="168" valign="top" style="font-weight:bold;">Class Year:</td>
        </tr>
        <tr>
          <td width="168" valign="top" style="font-weight:bold;">Graduation Year:</td>
        </tr>
        <tr>
          <td width="210"colspan="2" valign="top" style="font-weight:bold;">Scholarship:</td>
        </tr>
        <tr>
          <td width="261" colspan="2" valign="top" style="font-weight:bold;">Club Affiliations:</td>
        </tr>
        <tr>
          <td valign="top" style="font-weight:bold;">MBA Schools</td>
        </tr>
        <tr>
          <td valign="top" style="font-weight:bold;">Certifications/Licenses </td>
        </tr>
        <tr>
          <td valign="top" style="font-weight:bold;">Undergraduate Major</td>
        </tr>
        <tr>
          <td colspan="6" style="font-weight:bold;">Other Graduate Degrees</td>
        </tr>
        <tr>
          <td valign="top" style="font-weight:bold;">Laguange Ability</td>
        </tr>
      </table>

      <br/>
      <TABLE width="670" cellpadding="0" cellspacing="0" style="font-family: arial,sans-serif;margin:0 auto;
              font-size:13px;
              border-width: 1px;
              border-color: #000;
              border-collapse: collapse;">
        <tr>
          <td style="width:400px; font-weight:bold;background-color:gray;" colspan="6">EMPLOYMENT INFORMATION</td>
        </tr>
        <tr>
          <td colspan="6">&nbsp;</td>
        </tr>
        <tr>
          <td colspan="4" style="font-weight:bold;">Current / Previous (will be triggered by the info in the duration field)</td>
        </tr>
        <tr>
          <td width="160" valign="top" style="font-weight:bold;">Company:</td>
        </tr>
        <tr>
          <td width="204" valign="top" style="font-weight:bold;">Industry:</td>
        </tr>
        <tr>
          <td colspan="2" valign="top" style="font-weight:bold;">Address:</td>
        </tr>
        <tr>
          <td valign="top" style="font-weight:bold;">Position:</td>
        </tr>
        <tr>
          <td valign="top" style="font-weight:bold;">Duration:</td>
        </tr>
        <tr>
          <td width="233" valign="top" style="font-weight:bold;">Total Managerial Experience:</td>
        </tr>
        <tr>
          <td width="243" valign="top" style="font-weight:bold;">Total Work Experience:</td>
        </tr>
      </table>
    </div>

  </div>
</div>